.img-wrap {
  width: 500px;
  height: 400px;
  position: relative;
}

.imgs-wrap {
  margin: auto;
  height: 100vh;
}

.img-wrap-2 {
  width: 500px;
  position: relative;
}


.gear-1 {
  width: 50px;
  opacity: 0.2;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  margin-left: 20rem;
}

.gear-2 {
  width: 80px !important;
  position: absolute;
  left: 6rem;
}

.gear-rotate {
  animation: rotate 15s linear infinite;
  -webkit-animation: rotate 15s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.scale {
  animation: scale 2s ease-in-out infinite alternate;
  -webkit-animation: scale 2s ease-in-out infinite alternate;
}

@keyframes scale {
  100% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}
.animate-from-left {
  animation: from-left 2s ease-in-out infinite alternate;
  -webkit-animation: from-left 2s ease-in-out infinite alternate;
}

@keyframes from-left {
  100% {
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
  }
}
