.inspiration h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.inspiration-data-img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 250px;
}

.data-img-grid-item {
  width: 280px;
  height: 372px;

  padding: 1rem;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);

  border: 1px solid #d7d7d7;
  border-radius: 15px;
  position: relative;
}

.inspiration-data-title,
.inspiration-data-desc,
.inspiration-duration-item {
  font-size: 12px;
}

.inspiration-data-img-rating {
  width: 100px;
  height: 12px;
}

.fav-heart {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: #d7d7d7;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.fav-heart::before,
.fav-heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #d7d7d7;
  border-radius: 50%;
}

.fav-heart::before {
  top: -10px;
  left: 0;
}

.fav-heart::after {
  /* top: 10px; */
  right: 10px;
}

.fav-heart:hover {
  background: #ff0000;
}

.fav-heart:hover::before {
  background: #ff0000;
}

.fav-heart:hover::after {
  background: #ff0000;
}

.favorite .fav-heart, .favorite .fav-heart::before, .favorite .fav-heart::after {
  background: #ff0000;
}

@media screen and (max-width: 600px) {
  .inspiration h1 {
    font-size: 32px;
  }
  .data-img-grid-item {
    width: 350px;
    height: max-content;
  }
}

@media screen and (min-width: 400px) and (max-width: 1024px) {
  .data-img-grid-item {
    width: 350px;
    height: max-content;
  }
}
