nav {
  width: 100%;
  padding: 1rem 0;
}

.nav-fixed {
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav-logo {
  margin: 0 1rem;
  z-index: 10;
}

.nav-box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav-container {
  width: 100%;
  padding: 1rem;
}

.nav-flex {
  display: flex;
}

.nav-bg-dark {
  background-color: var(--color-bg-dark);
}

.nav-space-between {
  display: flex;
  justify-content: space-between;
}

.nav-items-center {
  display: flex;
  align-items: center;
}

.nav-items-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-lists {
  display: flex;
  align-items: center;
}

.nav-lists > .nav-list-item {
  margin: 0 1rem;
}

.nav-flex .nav-with-btn {
  display: none;
}

.toggle-nav {
  display: none;
  width: 1.5rem;
}

/* responsive navbar */
@media screen and (max-width: 600px) {
  .responsive-navbar {
    position: absolute;
    top: -20rem;
    left: 1rem;

    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--text-dark);
    align-items: center;
    z-index: 5;
    transition: all 0.5s ease-in-out;
    padding: 1rem 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .responsive-navbar .nav-lists {
    flex-direction: column;
    /* align-items: initial; */
  }
  .responsive-navbar .btn {
    margin: 1rem 0;
    width: 80%;
  }

  .open-menu .responsive-navbar {
    top: 3.5rem;
  }

  .nav-logo img {
    width: 100px;
  }

  .nav-flex .nav-with-btn {
    display: block;
  }

  .nav .nav-main-btn {
    display: none;
  }

  .responsive-navbar .nav-link {
    margin: 1rem 0;
    color: var(--text-white);
  }

  .toggle-nav {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .responsive-navbar {
    position: absolute;
    top: -22rem;
    left: 5rem;
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--text-dark);
    z-index: 5;
    transition: all 0.5s ease-in-out;
    padding: 1rem 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .responsive-navbar .nav-lists {
    font-size: 2rem;
    flex-direction: column;
  }

  .responsive-navbar .btn {
    margin: 1rem 0;
    width: 80%;
    font-size: 1.5rem;
  }

  .open-menu .responsive-navbar {
    top: 3.5rem;
  }

  .nav-logo img {
    width: 200px;
  }

  .nav-flex .nav-with-btn {
    display: block;
  }

  .nav .nav-main-btn {
    display: none;
  }

  .responsive-navbar .nav-link {
    margin: 1rem 0;
    color: var(--text-white);
  }

  .toggle-nav {
    display: block;
    cursor: pointer;
    width: 2rem;
  }
}

.nav-link {
  color: var(--text-dark);
}

/* .nav-with-btn .nav-lists {
  margin-left: 10rem;
} */
