.nft-talk {
  height: max-content;
  padding: 3rem 0;
}

.img-wrap {
  margin-top: 3rem;
}

.textwrap {
  width: 70%;
  text-align: justify;
  padding: 0 1rem;
}

@media screen and (max-width: 600px) {
  .textwrap {
    width: 80%;
  }

  .img-wrap {
    width: 300px !important;
    margin: auto;
  }

  .img-wrap img {
    /* width: 100%; */
  }

  .textwrap p {
    font-size: 15px;
  }
}
